.pl{
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fefefe;
  color: #000;
  margin-top: 50px;
}

.pl-texts{
  width: 80%;
}

.pl-title{
  margin: 50px 0 100px 0;
  font-size: 10rem;
  font-weight: 700;
  text-align: left;
}

.pl-desc{
  margin: 20px 0px;
}

.pl-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
