.pl{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fefefe;
  color: #000;
  padding: 0 5vw;
}

.pl-title{
  font-size: 9vw;
  font-weight: 900;
  text-align: center;
  width: 100%;
  margin: auto;
  margin: 20vh 0vh;
}

.pl-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20vh;
}
