.pl{
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fefefe;
  color: #000;
}

.pl-texts{
  width: 80%;
}

.pl-title{
  margin: 50px 0 100px 0;
  font-size: 12rem;
  letter-spacing: -.5vw;
  font-weight: 900;
  text-align: center;
  margin: auto;
  margin-bottom: 200px;
}

.pl-desc{
  margin: 20px 0px;
}

.pl-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}
