.a{
  padding: 0px 100px;
  display: flex;
  align-items: center;
  background-color: #fefefe;
  color: #000;
  padding-bottom: 20vh;
}

.a-left{
  display: flex;
  position: relative;
}

.a-right{
  padding-left: 20px;
}

.a-card.bg{
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: #E1DFDE;
}

.a-card {
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  position: relative;
}

.a-img{
  width: 40vw;
}

.a-title{
  font-size: 9vw;
  font-weight: 900;
  text-align: right;
}

.a-sub{
  font-weight: 600;
  margin: 40px 0px;
  font-size: 2vw;
  text-align: right;
}

.a-desc{
  font-weight: 400;
  font-size: 1.6vw;
  text-align: left;
}

.a-desc-bottom{
  font-weight: 300;
  margin: 40px 0px;
  font-size: 1.5vw;
  text-align: right;
}

.bold-span {
  font-weight: 700;
}
