.a{
  padding: 35vh 5vw;
  display: flex;
  align-items: center;
  background-color: #fefefe;
  color: #000;
}

.a-left{
  padding-right: 10vw;
}

.a-img{
  width: 30vw;
}

.a-title{
  font-size: 9vw;
  font-weight: 900;
  text-align: left;
}

.a-sub{
  font-weight: 600;
  margin: 3vh 0px;
  font-size: 2vw;
  text-align: left;
}

.a-desc{
  margin: 3vh 0px;
  font-weight: 400;
  font-size: 1.6vw;
  text-align: left;
}

.a-desc-bottom{
  margin: 3vh 0px;
  font-weight: 300;
  font-size: 1.5vw;
  text-align: left;
}

.bold-span {
  font-weight: 700;
}

// MEDIA QUERIES

@media screen and (max-width: 480px) {
  .a {
    margin: 20vh 0;
    flex-direction: column;
    padding: 15vh 5vw;
  }

  .a-title{
    font-size: 9vh;
    text-align: center;
  }

  .a-sub{
    font-size: 5vh;
    text-align: center;
  }

  .a-desc{
    font-size: 3vh;
    text-align: center;
  }

  .a-desc-bottom{
    font-size: 2vh;
    text-align: center;
  }

  .a-img{
    width: 35vh;
    margin-top: 10vh;
  }

}
