.a{
  padding: 30vh 5vw 20vh 5vw;
  display: flex;
  align-items: center;
  background-color: #fefefe;
  color: #000;
}

.a-right{
  padding-left: 5vw;
}

.a-img{
  width: 35vw;
}

.a-title{
  font-size: 9vw;
  font-weight: 900;
  text-align: right;
}

.a-sub{
  font-weight: 600;
  margin: 3vh 0px;
  font-size: 2vw;
  text-align: right;
}

.a-desc{
  margin: 3vh 0px;
  font-weight: 400;
  font-size: 1.6vw;
  text-align: right;
}

.a-desc-bottom{
  margin: 3vh 0px;
  font-weight: 300;
  font-size: 1.5vw;
  text-align: right;
}

.bold-span {
  font-weight: 700;
}
