.a{
  height: 100vh;
  padding: 50px 100px;
  display: flex;
  align-items: center;
  background-color: #fefefe;
  color: #000;
  padding-bottom: 100px;
}

.a-left{
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.a-right{
  flex:1;
  padding-left: 40px;
  padding-bottom: 70px;
}

.a-card.bg{
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: #E1DFDE;
}

.a-card {
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  position: relative;
}

.a-img{
  padding-top: 300px;
  width: 100%;
  height: 100%;
  object-fit: none;
}

.a-title{
  font-size: 10rem;
  font-weight: 900;
  text-align: right;
}

.a-sub{
  font-weight: 600;
  margin: 40px 0px;
  font-size: 2.2rem;
  text-align: right;
}

.a-desc{
  font-weight: 400;
  font-size: 1.6rem;
  text-align: left;
}

.a-desc-bottom{
  font-weight: 300;
  margin: 40px 0px;
  font-size: 1.4rem;
  text-align: right;
}

.bold-span {
  font-weight: 700;
}
