.p{
  width: 30%;
  height: 400px;
  margin: 20px 10px;
  border-left: 6px solid #000;
  border-top: 6px solid #000;
  border-right: 20px solid #000;
  border-bottom: 20px solid #000;
  border-radius: 15px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow: hidden;
}

/* .p-browser{
  height: 20px;
  background-color: #000;
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
} */

/* .p-circle{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
  margin: 3px;
} */

.p-img {
  width: 100%;
  transition: all 10s ease;
}

.p:hover .p-img{
  transform: translateY(-100%)
}

.link{
  margin: 0;
  padding: 0;
}
