.p{
  width: 30%;
  height: 40vh;
  margin: 0px 1vw;
  border-left: 0.5vw solid #000;
  border-top: 0.5vw solid #000;
  border-right: 1.2vw solid #000;
  border-bottom: 1.2vw  solid #000;
  border-radius: 1.2vw;
  border-bottom-left-radius: 1vw;
  border-top-right-radius: 1vw;
  overflow: hidden;
}

/* .p-browser{
  height: 20px;
  background-color: #000;
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
} */

/* .p-circle{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
  margin: 3px;
} */

.p-img {
  width: 100%;
  transition: all 5s ease;
}

.p:hover .p-img{
  transform: translateY(-25%)
}

.link{
  margin: 0;
  padding: 0;
}

// MEDIA QUERIES

@media screen and (max-width: 480px) {
  .p{
    width: 90%;
    height: 30vh;
    margin: 2vh 0;
    border-left: 0.5vh solid #000;
    border-top: 0.5vh solid #000;
    border-right: 1.2vh solid #000;
    border-bottom: 1.2vh  solid #000;
    border-radius: 1.2vh;
    border-bottom-left-radius: 1vh;
    border-top-right-radius: 1vh;
  }
}
