.pl{
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fefefe;
  color: #000;
}

.pl-texts{
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  img {
    height: 100%;
  }
}

.plr-title{
  margin: 50px 0 100px 0;
  text-align: left;
  font-size: 10rem;
  font-weight: 700;
}

.pl-desc{
  margin: 20px 0px;
}

.pl-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
