.c{
  padding: 0 5vw;
  background-color: #fefefe;
  color: #000;
}

.c-wrapper{
  display: flex;
  flex-direction: column;
}


h1 {
font-size: 9vw;
font-weight: 900;
text-align: center;
}


.c-right{
  margin-top: 10vh;
}

form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

    input{
    width: 60vw;
    height: 10vh;
    border: none;
    border-bottom: 1px solid black;
    background-color: #fefefe;
    margin: 15px 0px;
    font-size: 20px;
    padding-left: 10px;
  }

  textarea{
    width: 60vw;
    margin: 20px 0px;
    font-size: 20px;
    padding-left: 10px;
    background-color: #fefefe;
  }

  button{
    padding: 15px;
    font-weight: 700;
    width: 60vw;
    border: none;
    font-size: 20px;
    background-color: #000;
    color: #fefefe;
  }
}

// MEDIA QUERIES

@media screen and (max-width: 480px) {
  h1{
    text-align: center;
    font-size: 9vh;
    overflow-wrap: break-word;
  }
}
