.i {
  display: flex;
  height: 100vh;
  max-width: none;
  background-color: #fefefe;
  color: #000;

  .i-container{
  height: 90%;
  width: 90%;
  margin: auto;
  position: relative;
  }
}


.i-header{
  display: flex;
  font-size: 1.2vw;
  font-weight: 600;

  .i-desc-header{
    display: flex;
    flex: 3;
    justify-content: space-between;
  }

  .i-nav-header{
    flex: 2;
    display: flex;
    justify-content: end;

    a {
      color: #000;
    }

    a:link {
      text-decoration: none;
    }

    ul {
      display: flex;
      list-style-type: none;
      padding: 0;
    }

    li {
      margin-right: 5px;
      color: #000;
    }
  }
}

.i-container-big-desc {
  position: absolute;
  left: 0;
  padding-top: 8vh;
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: space-between;

    h2 {
    font-size: 9vw;
    font-weight: 900;
  }
}



.i-container-big-name {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  justify-content: space-between;
  height: 350px;
  width: 100%;

    h1 {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 9vw;
    font-weight: 900;
  }
}

.i-container-big-name .arrow {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 12vw;
}

.i-img {
  height: 10vw;
}

@media screen and (max-width: 480px) {
  .i{
    flex-direction: column;
  }
}
