.i {
  display: flex;
  height: 1000px;
  background-color: #fefefe;
  color: #000;
  position: relative;
}

.i-container{
  height: 90%;
  width: 90%;
  margin: auto;
}

.i-header{
  display: flex;
  font-size: 1.4rem;
  font-weight: 600;
}

.i-name-header{
  flex: 1;
  margin-right: 70px;
}

.i-desc-header {
  flex: 1;
  margin-right: 70px;
}

.i-city-header {
  flex: 1;
  margin-right: 70px;
}

.i-nav-header{
  flex: 3;
  display: flex;
  justify-content: end;
}

.i-nav-header ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.i-nav-header li {
  margin-right: 5px;
  cursor: pointer;
}

.i-container-big-desc {
  height: 50%;
  width: 70%;
}

.i-container-big-desc h2 {
  padding-top: 70px;
  font-size: 10rem;
  font-weight: 900;
}

.i-container-big-name {
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 40%;
  width: 100%;
}

.i-container-big-name h1 {
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 10rem;
  font-weight: 900;
}

.i-container-big-name .arrow {
  position: absolute;
  bottom: 0;
  left: 0;
}

.i-img {
  position: absolute;
  left: 25%;
  bottom: 12%;
  width: 250px;
}
