.i {
  display: flex;
  height: 100vh;
  background-color: #fefefe;
  color: #000;

  .i-container{
    height: 90%;
    width: 90%;
    margin: auto;
    position: relative;
  }
}


.i-header{
  display: flex;
  font-size: 1.2vw;
  font-weight: 600;

  .i-desc-header{
    display: flex;
    flex: 3;
    justify-content: space-between;
  }

  .i-nav-header{
    flex: 2;
    display: flex;
    justify-content: end;

    a {
      color: #000;
    }

    a:link {
      text-decoration: none;
    }

    ul {
      display: flex;
      list-style-type: none;
      padding: 0;
    }

    li {
      margin-right: 5px;
      color: #000;
    }
  }
}

.i-container-big-desc {
  position: absolute;
  left: 0;
  padding-top: 8vh;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;

    h2 {
    font-size: 9vw;
    font-weight: 900;
  }
}



.i-container-big-name {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  justify-content: space-between;
  height: 100%;
  width: 100%;

    h1 {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 9vw;
    font-weight: 900;
  }

  .arrow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 12vw;
  }
}

.i-img {
  height: 10vw;
  padding-bottom: 1vh;
}

// MEDIA QUERIES

@media screen and (max-width: 480px) {
  .i{
    height: 100vh;
     .i-container {
        height: 90vh;
        width: 100vw;
        overflow-wrap: break-word;
      }
    }

  .i-header{
    display: none;
  }

  .i-container-big-desc {
    width: 100%;
    height: 100px;
    max-width: 100%;
    padding-top: 0;

      h2 {
      font-size: 11vh;
      font-weight: 900;
      max-width: 100%;
      padding-left: 1vw;
    }
  }

  .i-container-big-name {
    width: 100%;
    height: 100px;
    max-width: 100%;
    padding-top: 0;

      h1 {
      font-size: 11vh;
      font-weight: 900;
      max-width: 100%;
      padding-right: 1vw;
    }

    .arrow {
      width: 10vh;
    }
  }

  .i-img {
    position: absolute;
    top: 37vh;
    right: 1vw;
    height: 10vh;
  }
}
