.f{
  height: 10vh;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;


    a {
      display: flex;
      color: #fff;
      align-items: center;
      }

    a:link {
      text-decoration: none;
    }

    .f-text {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.1vw;
      font-weight: 600;
    }
}

.heart{
  width: 1.1vw;
  margin: 0 0.5vw;
}

.arrow-up {
  width: 1.5vw;
  margin-left: 0.5vw;
}

@media screen and (max-width: 480px) {
  .f{
    flex-direction: column-reverse;
    height: 15vh;

    .f-text {
      font-size: 2vh;
      margin: 2vh 0;
    }
  }

  .heart{
    width: 2.5vh;
    margin: 0 0.5vh;
  }

.arrow-up {
  width: 2.5vh;
  margin-left: 0.3vh;
  }
}
